<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form action="/register" method="post">
    <label>Имя пользователя:</label><br>
    <input type="text" name="username" required><br>
    <label>Пароль:</label><br>
    <input type="password" name="password" required><br>
    <label>Роль:</label><br>
    <select name="role">
        <option value="ROLE_USER">Пользователь</option>
        <option value="ROLE_ADMIN">Администратор</option>
    </select><br><br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>
